.radarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  background-color: rgba(24, 24, 24);
  padding: 10px;
  border-radius: 35px;
}